<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/style.css">
    <title> Inicio </title>
</head>
<body>
    
    <%- include('partials/header.html')%>

    <section class="banner">
        <div class="destaque">
            <div class="destaque__overlay"></div>
            <img src="<%= posts[0].imagem %>" alt="">
            <div class="destaque__info">
                <h3 class="destaque__titulo"><%= posts[0].titulo %></h3>
                <p class="destaque__conteudo">
                    <%- posts[0].conteudo %>
                </p>
                
            </div>
        </div>
    </section>

    <section class="noticias">
        <div class="center">
            <h2>Últimas notícias</h2>
    
            <div class="noticias__cards">
                <div class="cards__group-1">
                    
                    <% for(let i = 0; i < posts.length; i++) { %>
                    <div class="card">
                        <div class="card__img">
                            <img src="<%= posts[i].imagem %>" alt="">
                        </div>
    
                        <div class="card__info">
                            <div class="card__categoria">
                                <p><%= posts[i].categoria %></p>
                            </div>
                            <div class="card__titulo">
                                <h2><%= posts[i].titulo %></h2>
                            </div>
                            <div class="card__conteudo">
                                <p>
                                    <%- posts[i].conteudo %>
                                </p>
                            </div>
                            <div class="card__saiba-mais">
                                <a href="<%= posts[i].slug %>">
                                    Saiba mais
                                </a>
                            </div>

                        </div>
                    </div><!--card-->
                    <% } %>
                </div><!--cards__group-1-->
    
                <div class="cards__group-2">
                    <div class="box-card-v2">
                        <div class="box-card-v2__header">
                            <h3>As mais lidas</h3>
                        </div>

                        <div class="box-card-v2__capsulas">

                            <% for(let i = 0; i < postsTop.length; i++) { %>
                                <div class="card-v2">
                                    <div class="card-v2__capa">
                                        <img src="<%= postsTop[i].imagem %>" alt="">
                                    </div>
                                    <div class="card-v2__info">
                                        <div class="card-v2__info__wraper">
                                            <p class="card-v2__titulo"><%= postsTop[i].titulo %></p>
                                            <p class="card-v2__conteudo">
                                                <%- postsTop[i].conteudo %>
                                            </p>
                                            <small><b>[ <%- postsTop[i].views %> views ]</b></small>
                                            <div class="card-v2__saiba-mais">
                                                <a href="<%= postsTop[i].slug %>">
                                                    Saiba mais
                                                </a>
                                            </div>
                                        </div>
                                    </div><!--card-v2__info-->
                                </div><!--card-v2-->
                            <% } %>
                             
                        </div><!--box-card-v2__capsulas-->
                    </div><!--box-card-v2-->
                </div>

                <div class="clear"></div>
               
            </div><!--noticias__cards-->

        </div><!--center-->
    </section>

    <%- include('partials/footer.html')%>

</body>
</html>