<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/style.css">
    <title>Noticia</title>
</head>
<body class="single-body">
    <%- include('partials/header.html')%>
    
    <section class="my-noticia">
        <div class="center">
            <div class="my-noticia__campo">

                <h1>Titulo da noticia criada de forma estatica</h1>
                <div class="autor"><p>Por Luís Fernando</p></div>
                <article>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                    </p>
    
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                    </p>
    
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem.
                    </p>
    
                    <h3>Lorem ipsum dolor sit amet ?</h3>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                    </p>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                    </p>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Rem maxime accusamus fuga perferendis aliquid cupiditate, 
                        exercitationem est unde ut eius minus officiis, cumque, 
                        obcaecati aliquam nesciunt corporis nulla. Tempore, quibusdam!
                    </p>

                </article>

            </div><!--my-noticia__campo-->

            <div class="my-noticia__mais">

                <div class="box-card-v2">
                    <div class="box-card-v2__header">
                        <h3>As mais lidas</h3>
                    </div>

                    <div class="box-card-v2__capsulas">

                        <div class="card-v2">
                            <div class="card-v2__capa">
                                <img src="../public/images/banner.jpg" alt="">
                            </div>
                            <div class="card-v2__info">
                                <div class="card-v2__info__wraper">
                                    <p class="card-v2__titulo">Natureza</p>
                                    <p class="card-v2__conteudo">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cumque 
                                        ipsam maxime quae sed.
                                    </p>
                                    <div class="card-v2__saiba-mais">
                                        <a href="/noticia-informativa">
                                            Saiba mais
                                        </a>
                                    </div>
                                </div>
                            </div><!--card-v2__info-->
                        </div><!--card-v2-->

                         <div class="card-v2">
                            <div class="card-v2__capa">
                                <img src="../public/images/banner.jpg" alt="">
                            </div>
                            <div class="card-v2__info">
                                <div class="card-v2__info__wraper">
                                    <p class="card-v2__titulo">Natureza</p>
                                    <p class="card-v2__conteudo">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </p>
                                    <div class="card-v2__saiba-mais">
                                        <a href="/noticia-informativa">
                                            Saiba mais
                                        </a>
                                    </div>
                                </div>
                            </div><!--card-v2__info-->
                        </div><!--card-v2-->

                    </div>
                </div><!--box-card-v2-->
            </div>
        </div>
    </section><!--my-noticia-->
    
    <%- include('partials/footer.html')%>
</body>
</html>

